.App {
  text-align: center;
}

h1 {
  font-family:'Righteous', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  margin-left: 50px;
}

h2 {
  font-family:'Righteous', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
}

h3 {
  font-family:'Righteous', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
}

h4 {
  font-family:'Righteous', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  text-align: center;
}

p {
  font-family:'Righteous', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

li {
  font-family:'Righteous', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
}

a {
  color: black;
  text-decoration: none;
}

/* .navigation-menu ul {
  padding: 0px;
  margin: 0px;
}
.nav ul {
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}
.nav li {
    float: left;
    list-style-type:none;
}
.nav li a {
    display: inline-block;
    color: green;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "Righteous", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    list-style: none;
    }
.nav li a:hover {
    background-color:green;
    color: lightblue;
} */

.sidebar {
  height: 100%;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 40px;
  background-color: #adefd1ff;
  }

.sidebar li a {
  color: #358597;
  text-decoration: none;
  padding-left: 10px;
  margin-bottom: 20px;
}

.sidebar li a:hover {
  background-color: #358597;
  color: #adefd1ff;
}

#splash.navbar-custom {
  display: none;
  visibility: hidden;
}

#currentUser {
  font-family: 'Righteous', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #358597;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 15px;
}

#splashtitle ul {
  padding: 0;
  overflow: hidden;
  background-color: black;
}
#splashtitle li {
  float: left;
  list-style-type:none;
}
#splashtitle li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Righteous", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 80px;
  list-style: none;
  }
#splashtitle li a:hover {
  background-color:white;
  color: black;
}

#login-form {
  font-family: "Righteous", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

#signup-form {
  font-family: "Righteous", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

input {
  font-family: "Righteous", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

button {
  font-family: "Righteous", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  background-color: #adefd1ff;
  color: #358597;
}

#locationcard {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 50px;
  margin-right: 80px;
}

#locationimage {
  flex-basis: 20%
}

#locationinfo {
  padding-left: 50px;
}

#locationinfo button {
  margin-top: 30px;
}

#heading {
  font-family: "Righteous", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  color:#358597;
  margin-bottom: 20px;
}

#detail-card {
  margin-left: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 50px; */
  margin-right: 80px;
}

#detail-location-img {
  display: block;
  margin-left: 120px;
  margin-right: 150px;
  width: 80%;
}

#products{
  flex-basis: 20%;
  padding-bottom: 40px;
}

#list-button {
  padding-top: 100px;
  width: 250px;
}

#detail-info {
  padding-left: 50px;
  padding-right: 80px;
  padding-top: 50px;
}

#header {
  color: #358597;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 115px;
}

#attribute {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

#currentUser {
  color: #358597;
  padding-top: 10px;
  padding-left: 15px;
  font-family: "Righteous", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  list-style: none;
}

#welcome {
  color:#358597;
  text-align: center;
  font-family: "Righteous", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;
  list-style: none;
}

#review-list {
  font-family: "Righteous", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  list-style: none;
}

#author-div {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-right: 80px;
}

#author-info {
  margin-left: 50px;
}


#review-cards {
  margin-left: 50px;
}

#location-description {
  text-align: left;
  width: 1000px;
  margin-left: 130px;
}

#reading-list {
  color:rgb(234, 21, 28);
  margin-left: 50px;
}

#user-greeting {
  display: flex;
  height: 125px;
  align-items: center;
}

#user-greeting-image {
  margin-left: 50px;
  margin-top: 30px;
  align-items: center;
  justify-items: center;
  color:#358597;
}

#review-card {
  margin-left: 50px;
  margin-right: 50px;
}

#review-form-title {
  margin-left: 50px;
  color:rgb(234, 21, 28);
}

#review-form {
  margin-left: 50px;
}

#login-header {
  margin-left: 50px;
  color:#358597;
}

#login-form {
  margin-left: 50px;
}

#signup-form-header {
  margin-left: 50px;
  color:#358597;
}

#signup-form {
  margin-left: 50px;
}

#locations {
  margin-left: 50px;
  color:#358597;
}

#greeting {
  color:#358597;
  margin-left: 50px;
}

#rainbow-ul {
  list-style: none;
  padding-left: 0;
}

#rainbow-ul button {
  margin: 10px;
}

#reviews {
  margin-left: 50px;
}

#resource-links{
  font-family: "Righteous", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 50px;
  list-style: none;
  font-size: 20px;
}

#detail-location-name {
  padding: 20px;
}

#home {
  margin-left: 50px;
}

#map-container {
  margin-left: 50px;
  margin-top: 50px;
}

#maphome {
  text-align: center;
}