h1 {
  font-family:'Righteous', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.navigation-menu ul {
  padding: 0px;
  margin: 0px;
}
#nav ul {
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}
#nav li {
    float: left;
    list-style-type:none;
}
#nav li a {
    display: inline-block;
    color: green;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "Righteous", "PT Sans", Calibri, Tahoma, sans-serif;
    font-size: 30px;
    list-style: none;
    }
#nav li a:hover {
    background-color:green;
    color: lightblue;
}

#currentUser {
  font-family: 'Righteous', Courier, monospace;
  color: green;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 15px;
}
